body {

    background-color: rgb(210,250,220);

}

#webframe {


}

.gridbox {

    background-color: lightcoral;
    height:300px;
    display:grid;
    grid-template-columns: repeat(2,1fr);

}

    .gridbox > div {
        background-color: antiquewhite;
        border:solid blue 3px;
    }