.section {

    margin-top: 5px;

    line-height: 24px;

}

.buttons {

    height: 50px;

    width: 80px;

    color: red

}

#outline {

    border: solid gray 2px;

    color: Teal;

}

body {

    background-color: black

}